<div class="banner py-5">
  <h1 class="text-center"><strong>Le Wagon</strong></h1>
  <h4 class="text-center">My Campus</h4>
</div>

<div class="schools-grid mt-4">
  <% @schools.each do |school| %>
    <div class="school-card text-center">
      <%= link_to school.city, school_mgmt_path(school), class: "btn" %>
    </div>
  <% end %>
</div>