<h1 class="mt-5 text-center"><strong>Le Wagon</strong></h1>
<h2 class="text-center">My Teachers</h2>

<div class="schools-grid mt-4">
  <% @schools.each do |school| %>
    <div class="school-card text-center">
      <%= link_to school.city, school_mgmt_path(school), class: "btn" %>
    </div>
  <% end %>
</div>