<div class="sign-up-container mt-5">
  <%= simple_form_for @teacher, data: { turbo: :false } do |f| %>
    <h2 class="text-center mb-3">Edit Teacher</h2>

    <div class="form-inputs">
      <%= f.input :github_nickname,
                  required: true,
                  input_html: { autocomplete: "github-nickname" } %>
    </div>

    <div class="form-actions text-center">
      <%= f.button :submit, "Save", class: "btn btn-update" %>
    </div>
  <% end %>
</div>