.delete-btn {
  right: 8px;
  padding: 6px 12px;
  top: 50%;
  background: rgba(0,0,0,0.1);
  border-radius: 8px;
  transform: translateY(-50%);
  color: black;

  &:hover {
    color: black;
    background: rgba(0,0,0,0.25);
    border: 2px solid rgba(0,0,0,0.4);
  }
}

.edit-btn {
  right: 55px;
  padding: 6px 12px;
  top: 50%;
  background: rgba(0,0,0,0.1);
  border-radius: 8px;
  transform: translateY(-50%);
  color: black;

  &:hover {
    color: black;
    background: rgba(0,0,0,0.25);
    border: 2px solid rgba(0,0,0,0.4);
  }
}

.btn-export {
  background-color: #EEE7F9;
  color: rgb(103,11,255);
  border: none;
  font-weight: bold;
  border-radius: 6px;
  padding: 12px 18px;
  
  &:hover {
    background: rgb(103,11,255);
    color: white;
  }
}

.btn-update {
  background-color: #FCF9FA;
  color: #E60E05;
  border: none;
  font-weight: bold;
  border-radius: 6px;
  padding: 12px 18px;
  
  &:hover {
    background-color: #E60E05;
    color: white;
  }

}

button {
  .show-when-enabled { display: initial; }
  .show-when-disabled { display: none; }

  &[disabled] {
    .show-when-enabled { display: none; }
    .show-when-disabled { display: initial; }
  }
}