table {
  margin: 0px auto;
}

.teachers-mgmt-table {
  th {
    width: 350px;
  }
}

th {
  background: #E60E05;
  color: white;
  border: 2px white;
  padding: 8px;
}

 td {
  padding: 8px;
  background: white;
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
 }

 .first-table-th {
  border-radius: 10px 0px 0px 0px;
 }

 .last-table-th {
  border-radius: 0px 10px 0px 0px;
 }